@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  @apply border-gray-4 selection:bg-gray-4/80;
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    
  font-feature-settings: 'liga' 1, 'calt' 1;
}

.font-display {
  
  font-variation-settings: 'opsz' 32;
}

.text-ring{
  @apply relative;

}
.text-ring:after{ 
  content: '';
  position: absolute; 

  z-index: 0;
  @apply border-[6px] h-full w-full border-white inset-0 rounded-full; 
}